#root {
  .section4 {
    height: 264px;
    background-color: #363636;
    color: #ffffff;
    font-weight: normal;

   .s4-wrapper{
     max-width: 1024px;
     margin: 0 auto;
         display: flex;
    align-items: center;
    justify-content: flex-start;
  height: 100%;
      img {
      width: 186px;
      height: 186px;
    }

    .box {

      margin-left: 41px;
      font-weight: normal;

      .title {
  width: 440px;
  height: 72px;
      }

      .sub {
        font-family: 'S-CoreDream4';
        margin-top: 18px;
        font-size: 20px;
        color: #ffffff;
        font-weight: normal;
      }
    }
   }
  }
}

@media screen and (max-width: 760px) {
  #root {
    .section4 {
      height: 155px;
      padding-left: 20px;
box-sizing: border-box;
     .s4-wrapper{
        img {
        width: 96px;
        height: 96px;
      }

      .box {
        margin-left: 16px;

        .title {
          width: 200px;
          height: 42px;
        }

        .sub {
          margin-top: 12px;
          font-size: 11px;
        }
      }
     }
    }
  }
}