#root {
  .footer {
    height: 278px;
    background-color: #2e2e2e;
    box-sizing: border-box;
    padding: 101.5px 0 0 85px;

    img {
      width: 120px;
      height: 33.3px;
    }

    .title {
      font-size: 13px;
      font-family: sans-serif;
      color: white;
      font-weight: normal;
      line-height: 1.77;
      margin-top: 15.4px;
    }
  }
}