#root {
  .section3 {
    height: 796px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 88px;
    box-sizing: border-box;
    position: relative;

    .title {
      font-size: 20px;
      font-weight: bold;
      font-family: 'S-CoreDream6';
      width: 244px;
      height: 57px;
      border-radius: 50px;
      background-color: #627b55;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ebebeb;
      margin: 0 auto;

    }

    .box {
      position: absolute;
      right: 141px;
      top: 261px;

      .box_title {
        font-size: 55px;
        font-weight: 800;
        color: #4a643f;
        line-height: 1.36;
        font-family: 'S-CoreDream7';
        margin-top: 26px;
      }

      .box_sub {
        margin-top: 26px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        color: #707070;
        font-family: 'S-CoreDream5';
      }

      img {
        width: 325px;
        height: 68px;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  #root {
    .section3 {
      height: 821px;
      padding-top: 169px;

      .title {
        width: 156px;
        height: 39.7px;
        font-size: 13px;


      }

      .box {
        position: relative;
        right: 0;
        top: 0;
        text-align: center;
        margin-top: 19.3px;

        .box_title {
          font-size: 25px;
          margin-top: 11px;
        }

        .box_sub {
          font-size: 13px;
          margin-top: 19px;
        }

        img {
          width: 162px;
          height: 34px;
        }
      }
    }

  }
}