#root {
  .section9 {
    display: grid;
    height: 1831px;


    .one {
      height: 671px;
    }

    .under {
      margin: 0;
      height: 1160px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      box-sizing: border-box;
      padding-top: 169px;


      .under_title {
        width: 496px;
        height: 304px;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  #root {
    .section9 {
      height: 1332px;

      .one {
        height: 552px;

      }

      .under {
        height: 780px;

        .under_title {
          width: 302px;
          height: 204px;
        }
      }
    }
  }
}