#root {
  .section9 {
    display: grid;
    height: 1831px;


    .onewrapper {
      height: 671px;
      position: relative;

      .one {
        height: 671px;
      }

      .talk {
        width: 623px;
        height: 368px;
        position: absolute;
        top: 161px;
        right: 16.4%;
        text-align: center;
        box-sizing: border-box;
        padding-top: 64px;
        padding-left: 100px;
        padding-right: 47px;
        color: #627b55;
        font-size: 30px;

        .talk_top {

          font-family: 'S-CoreDream4';
          margin-bottom: 34.5px;
        }

        .bar {
          width: 458px;
          height: 2px;
          background-color: #627b55;

        }

        .talk_under {
          margin-top: 35.5px;
          font-family: 'S-CoreDream6';
        }
      }
    }

    .under {
      margin: 0;
      height: 1160px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      box-sizing: border-box;
      padding-top: 169px;


      .under_title {
        width: 496px;
        height: 304px;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  #root {
    .section9 {
      height: 1332px;

      .onewrapper {
        .one {
          height: 552px;

        }
      }

      .under {
        height: 780px;

        .under_title {
          width: 302px;
          height: 204px;
        }
      }
    }
  }
}