#root{
  .section14{
    height: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 264.6px;
    box-sizing: border-box;
    text-align: center;
    &>.title{
        font-size: 40px;
            font-family: 'S-CoreDream7';
              line-height: 1.5;
    }
    &>.sub{
      margin-top: 28px;
        font-size: 20px;
          line-height: 1.75;
             font-family: 'S-CoreDream5';
          color: #363636;
        margin-bottom: 43.3px;
          &>span{
            color: #c0c0c0;
          }
    }
    &>.s14-main-img{
        width: 671.2px;
    }
    &>.s14-sub-img{
        width: 100%;
        padding: 0 126.3px;
        box-sizing: border-box;
        margin-top: 28px;
    }
  }
}
@media screen and (max-width: 760px) {
  #root{
      .section14{
        height: 1351px;
        padding-top: 153px;
        &>.title{
          font-size: 25px;
        }
        &>.sub{
          font-size: 13px;
          margin-top: 19px;
          margin-bottom: 34px;
        }
              &>.s14-main-img{
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
      }
      &>.s14-sub-img{
        padding: 0;
        margin-top: 34px;
      }
      }
  }
}